* {
	box-sizing: border-box;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1rem;
	display: flex;
	flex-flow: column wrap;
	text-align: center;
	font-weight: 400;
	margin: 0;
	color: #404040;
}

h1 {
	font-size: 2.25rem;
	font-weight: 300;
}

h1 strong {
	font-weight: 900;
}

h2 {
	font-size: 1.3125rem;
}

#flyer {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
	background-image: url(../images/ribs.jpg);
	background-size: cover;
	background-color: #404040;
	background-blend-mode: multiply;
	background-position: center;
	color: white;
	min-height: 50vh;
}

#flyer h2 {
	color:#F18119;
	text-transform: uppercase;

}

.top-text {
	padding: 0;
	margin: 0;	
	order: -2;
	border-top: 0.625rem solid;
	border-image: linear-gradient(to left, #FF713B , #FFA51D) 1;
	color: #F18119;
	text-transform: uppercase;
}

#registration {
	display: flex;
	flex-direction: column;
	padding: 1em 2em;
}

#registration h2 {
	padding-bottom: 0;
	margin-bottom: 0;
}

#registration p:nth-child(2) {
	color:#F18119;
	padding-top: 0;
	margin-top: 0;
	text-transform: uppercase;
	font-weight: 800;
	text-align: center;
}

form {
	max-width: 400px;
	margin: 0 auto;
	align-items: center;
}

input,
footer {
	color: #404040;
	opacity: .5;
	}

input {
	width: 50vw;
	height: 2.75em;
	text-align: center;
	border: solid 2px black;
	border-radius: 5px;
	margin: .5em;
	font-family: inherit;
}

#btn {
	width: 50vw;
	height: 2.75em;
	border: 0;
	border-radius: 5px;
	background: linear-gradient(to left, #FF713B , #FFA51D);
	color: #FFF;
	cursor: pointer;
	transition:  250ms;
	transform: scale(1);
}

#btn:focus,
#btn:hover{
	color: black;
	transform: scale(1.1);
	opacity: .8;
}

input,
#btn {
	font-size:1.125rem;
}

footer {
	padding-top: 2.5em
}

#registration *,
#flyer * {
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
}

@media (min-width: 700px){
	body {
		flex-direction: row;
	}
	#registration,
	#flyer {
		width: 50%;
		min-height: 100vh;
	}
	#registration {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	input,
#btn {
	width: 30vw;
}
}